[Unit]
After=power-profiles-daemon.service
Description=Reduce power-profiles-daemon

[Service]
Type=oneshot
ExecStart=/usr/bin/powerprofilesctl-respect-holds set power-saver
