[Unit]
Description=Screen lock credential-dropping monitor
After=graphical-session.target

[Service]
Type=simple
#ExecStartPre=systemctl --user import-environment SSH_AUTH_SOCK
ExecStart=/usr/libexec/kousu-desktop/drop-credentials-on-screenlock.sh
Restart=on-failure

[Install]
WantedBy=default.target
